<!doctype html>
<head>
  <title>Kouzelna krabicka</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <!-- import plugin script -->   <script src='static/Chart.min.js'></script>
</head>

<body>
  <div class=menu>
    <a href={{ url_for('get_index') }}>Hlavni stranka</a><br>
    <a href={{ url_for('get_mereni') }}>Mereni</a><br>
    <a href={{ url_for('get_directory') }}>Soubory</a><br>
    <a href={{ url_for('get_graph') }}>Graf</a><br>
 </div>
  <div class=page>
    {% block body %}{% endblock %}
  </div>
</body>
